a {
  font-size: 0.75em;
  text-decoration: underline !important;
}
a,
a:visited,
a:hover,
a:active {
  color: yellow !important;
}

img {
  margin: 20px 0;
  max-width: 100%;
}

li {
  list-style-position: outside;
}

h5 {
  margin-bottom: 0.5em !important;
}

button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: yellow;
  color: black;
  border: transparent;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.spectacle-deck {
  padding: 20px;
}

.spectacle-deck > div:nth-child(3),
.spectacle-deck > div:nth-child(2){
  bottom: 30px !important;
}

.spectacle-slide {
  border: 3px solid yellow;
}

.spectacle-content {
  padding: 0 !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
  width: 200px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.portrait{
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

.techno {
  height: 200px;
  width: 200px;
}