import React, { Component } from "react";

export default class NomDeMonComposant extends Component {
  state = {
    color: "black"
  };

  toggleBackgroundColor = () => {
    this.setState({ color: this.state.color === "yellow" ? "black" : "yellow" }) 
  }
  
  render() {
    return (
      <div className="container" style={{ backgroundColor: this.state.color }}>
        <button onClick={this.toggleBackgroundColor}>
          Changer la couleur d'arrière plan
        </button>
      </div>
    );
  }
}
